<ion-view>
  <ion-nav-buttons side="left">
  	<h1 class="title">Web Server</h1>
	<button class="button button-clear button-positive" ng-click="save()">OK</button>
  </ion-nav-buttons>
  <ion-content padding="true">
	<div class="list">
		<label class="item item-input">
	    	<span class="input-label">Name</span>
	    	<input type="text" ng-model="model.name">
		</label>
		<label class="item item-input">
	    	<span class="input-label">URL</span>
	    	<input type="text" ng-model="model.url">
		</label>
		<div class="item item-input" ng-init="model.method='GET'; option = ['GET','POST']">
		 	<span class="input-label">Method</span>
			<fancy-select
				template-url='templates/webServer/select.html'
				ng-selected="model.method"
				ng-model="option"
				title="Method">
			</fancy-select>
		</div>
		<label class="item item-input" ng-show="model.method==='POST'">
	    	<span class="input-label">Data</span>
	    	<input type="text" ng-model="model.data" placeholder="e.g. name1=value1&name2=value2">
		</label>
		<label class="item item-input">
	    	<span class="input-label">Interval (min)</span>
	    	<input type="text" ng-model="model.interval">
		</label>
		<label class="item item-input">
	    	<span class="input-label">Notify to (JID)</span>
	    	<input type="text" ng-model="model.notifyTo">
		</label>
	</div>
  </ion-content>
</ion-view>